* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Overpass, sans-serif;
  background-color: var(--dark-color-2);
  color: var(--light-color-3);
}

:root {
  --primary-color: hsl(25, 97%, 53%);
  --light-color-1: hsl(0, 0%, 100%);
  --light-color-2: hsl(217, 12%, 63%);
  --light-color-3: hsl(216, 12%, 54%);
  --dark-color-1: hsl(213, 19%, 18%);
  --dark-color-2: hsl(216, 12%, 8%);
  --paragraph-size: 15px;
  --title-size: 25px;
}

.rating-state-container {
  background-color: var(--dark-color-1);
  width: 25%;
  min-width: 400px;
  margin: 10rem auto;
  padding: 1.5rem 2rem;
  border-radius: 15px;
}

.icon-container {
  position: relative;
  border-radius: 50%;
  background-color: var(--dark-color-2);
  width: 45px;
  height: 45px;
}

.star-icon {
  position: absolute;
  width: 20px;
  height: auto;
  top: 12px;
  left: 12px;
}

.title {
  color: var(--light-color-1);
  font-size: var(--title-size);
}

.rating-text {
  font-size: var(--paragraph-size);
  line-height: 25px;
}

.rating-scale {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.rating {
  border-radius: 50%;
  background-color: var(--dark-color-2);
  color: var(--light-color-2);
  width: 45px;
  height: 45px;
  text-align: center;
  vertical-align: middle;
  padding: 15px;
}

.submit-rating {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--light-color-1);
  text-transform: uppercase;
  font-size: var(--paragraph-size);
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0.6rem;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  margin-top: 1rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.submit-rating:hover,
.submit-rating:focus {
  background-color: var(--light-color-1);
  color: var(--primary-color);
  border: 1px solid var(--light-color-1);
}

.submit-rating:active {
  transform: scale(97%);
}

.rating:hover,
.rating:focus {
  background-color: var(--light-color-2);
  color: var(--light-color-1);
  cursor: pointer;
  transition: all 0.5s ease;
}

.thank-you-card {
  background-color: var(--dark-color-1);
  width: 25%;
  min-width: 400px;
  margin: 10rem auto;
  padding: 1.5rem 2rem;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thank-you-card-img {
  width: 50%;
  align-self: center;
}

.rating-message {
  background-color: var(--dark-color-2);
  color: var(--primary-color);
  width: 60%;
  align-self: center;
  border-radius: 30px;
  margin-top: 20px;
}

.rating-display {
  margin: 6px;
}

.rating-paragraph {
  margin-top: -20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--light-color-1);
}
.attribution a {
  color: var(--primary-color);
}
